/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 150px 0;
  padding: 0;
  height: 100vh;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.container {
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}

.btn {
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btnAdd {
  background: #194064;
  color: #fff;
}

.addContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  & label,
  input {
    font-size: 18px;
  }

  & input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  & button {
    background-color: royalblue;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
  }

  & .close_btn {
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
  }
}

.tableContainer {
  margin-top: 50px;
  box-shadow: 1px 1px 1px 10px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
}

.tableContainer table thead tr {
  background-color: #9b8e8e;
}

.tableContainer table thead th,
.tableContainer table tbody td {
  min-width: 200px;
  padding: 5px;
  text-align: center;
}

.tableContainer table tbody td {
  border-bottom: 2px solid #c9c5c2;
}

.btn-edit,
.btn-delete {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 10px;
  color: rgb(81, 36, 215);
  background-color: transparent;
}

.btn-delete {
  color: red;
}

p {
  text-align: center;
}
